/** @format */

:root {
  --main-color: #000000;
  --main-bg: #06071b;
  --accent-color: #ffffff;
  --hover: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  --accent-bg: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  --hover-link: #00e6e6;
}

body {
  background-color: var(--main-bg);
  color: var(--main-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 320px;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1276px;
  }
}

.section {
  padding: 100px 0;
}

/* header -------------------------------- */

.header {
  height: 684px;
  background-image: url(../images/hiro-gra.png), url(../images/hero-icon.png);
  background-position: 1% 36%, 43% 86%;
  background-repeat: no-repeat;
}

.header-inner {
  margin-top: 26px;
  background: var(--accent-bg);
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-size: 28px;
  line-height: 1.21;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.nav-list-item {
}

.nav-list-link {
  display: block;
  padding: 29px 0;
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--hover-link);
}

/* hero ------------------------------------------- */

.hero {
  padding: 145px 0;
  color: var(--accent-color);
}

.hero-box {
  display: flex;
}

.hero-inner {
  position: relative;
}

.hero-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}

.hero-text {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.hero-list {
  margin-bottom: 60px;
}

.hero-list-item {
  display: flex;
  align-items: center;
}

.hero-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.hero-list-svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.hero-list-text {
  margin-left: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
}

.hero-btn {
  padding: 11px 60px;
  background-image: var(--hover);
  color: var(--accent-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
}

.hero-btn:hover,
.hero-btn:focus {
  border: 1px solid transparent;
  background: var(--accent-bg);
  box-shadow: inset 0px 0px 0px 100vw var(--main-bg);
}

.hero-img {
  position: absolute;
  top: 12%;
  right: 12px;
}

/* features -------------------------------------------------- */

.features {
  background-color: var(--accent-color);
  overflow: hidden;
}

.features-container {
  position: relative;
  width: 971px;
  z-index: 3;
}

.features-container::before {
  content: "";
  position: absolute;
  right: -115px;
  top: -21px;
  width: 304px;
  height: 203px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.18953518907563027) 48%,
    rgba(181, 68, 254, 0.20354079131652658) 59%
  );
  filter: blur(110.5px);
}

.features-container::after {
  content: "";
  position: absolute;
  width: 1044px;
  height: 823px;
  bottom: -304px;
  left: -282px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.25) 8%,
    rgba(181, 68, 254, 0.15) 68%,
    rgba(61, 153, 241, 0.25) 95%
  );
  filter: blur(109.5px);
  transform: rotate(59.96deg);
  z-index: -1;
}

.features-title {
  margin-bottom: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.features-text {
  margin-bottom: 141px;
  text-align: center;
  font-weight: 500;
  line-height: 1.81;
}

.features-img {
  position: absolute;
  top: 255px;
  left: 274px;
}

.features-list {
  margin-bottom: 65px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 492px;
  row-gap: 80px;
}

.features-list-item {
}

.features-list-title {
  position: relative;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.features-list-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: -40px;
  bottom: 1px;
  background-image: url(../images/features-icon.svg);
}

.features-list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

/* video --------------------------------------- */

.video {
  padding: 60px 0;
  color: var(--accent-color);
  background-image: url(../images/video-bg.svg), url(../images/video-bg-1.svg);
  background-repeat: no-repeat;
  background-position: 175px -25px, 560px -100px;
}

.video-box {
  display: flex;
}

.video-inner {
  margin-right: 161px;
}

.video-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.video-text {
  margin-bottom: 40px;
  max-width: 479px;
  font-weight: 500;
  line-height: 1.18;
}

.video-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-image: var(--hover);
  border-radius: 50%;
}

.video-svg {
  width: 60px;
  height: 60px;
  fill: var(--accent-color);
}

/* team ------------------------------------------- */

.team {
  position: relative;
  background-color: var(--accent-color);
}

.team::before {
  content: "";
  position: absolute;
  right: 98px;
  width: 432px;
  height: 467px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.25) 25%,
    rgba(181, 68, 254, 0.25) 75%
  );
  background-repeat: no-repeat;
  filter: blur(110.5px);
}

.team-title {
  margin-bottom: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.team-text {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 886px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

.team-list {
  position: relative;
  display: flex;
  gap: 32px;
}

.team-list::before {
  content: "";
  position: absolute;
  left: 69px;
  bottom: 83px;
  width: 432px;
  height: 467px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.25) 25%,
    rgba(181, 68, 254, 0.25) 75%
  );
  background-repeat: no-repeat;
  filter: blur(110.5px);
  transform: rotate(-179.99deg);
}

.team-item {
  padding: 12px;
  width: 288px;
  background-image: var(--hover);
  backdrop-filter: blur(17.5px);
  border-radius: 15px;
}

.team-item-img {
  border-radius: 10px;
}

.team-item-inner {
  margin-top: 20px;
  color: var(--accent-color);
  text-align: center;
}

.team-item-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
}

.team-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

/* slider ------------------------------------------ */

.slider {
  background-color: var(--accent-color);
}

.slider-container {
  position: relative;
  width: 886px;
}

.slider-container::after {
  content: "";
  position: absolute;
  left: -196px;
  bottom: -97px;
  width: 1215px;
  height: 988px;
  background-image: url(../images/slider-bg.svg);
  background-repeat: no-repeat;
  filter: blur(110.5px);
}

.slider-title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.slider-list {
  text-align: center;
}

.slider-item {
}

.slider-item-img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.slider-item-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
}

.slider-item-company {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

.slider-item-text {
  font-weight: 500;
  line-height: 1.5;
}

/* contact ------------------------------------------- */

.contact {
  color: var(--accent-color);
}

.contact-title {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.contact-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -273px;
  width: 578px;
  height: 395px;
  background-image: url(../images/contact-bg-1.svg);
  background-repeat: no-repeat;
  filter: blur(51.5px);
  z-index: -1;
}

.contact-sub {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.contact-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.address {
  font-style: normal;
}

.address-list {
}

.address-item {
}

.address-item:not(:last-child) {
  margin-bottom: 12px;
}

.address-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.form {
  position: relative;
}

.form::before {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: -273px; */
  /* width: 296px;
  height: 457px; */
  background-image: linear-gradient(
    90deg,
    rgba(125, 85, 255, 0.3) 62%,
    rgba(0, 197, 235, 0.1) 100%
  );
  background-repeat: no-repeat;
  filter: blur(51.5px);
  transform: matrix(0.21, 0.98, -0.93, 0.36, 0, 0);
}

.form::after {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: -273px; */
  /* width: 296px;
  height: 457px; */
  background-image: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.3015800070028011) 62%,
    rgba(236, 252, 255, 0) 100%
  );
  background-repeat: no-repeat;
  filter: blur(51.5px);
  transform: matrix(0.06, 1, 0.97, -0.26, 0, 0);
}

.social-list {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}
.social-item {
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: var(--hover);
  border-radius: 50%;
}

.social-svg {
  width: 40px;
  height: 40px;
}

.icon-normal {
  transition: 400ms;
}

.social-link:hover .social-svg .icon-normal {
  opacity: 0;
}

.icon-hover {
  opacity: 0;
  transition: 400ms;
}

.social-link:hover .social-svg .icon-hover {
  opacity: 1;
}

/* footer ----------------------------------------------------------------- */

.footer {
  padding: 22px 0;
  color: var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}
